.login {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

#landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
}

#landing .card {
  width: 500px;
  padding: 20px;
}
